@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Caveat&display=swap');
$body-color: #d9dbf5;
$input-color: #08091f;
$font-size:2vw;

h1 {
    font-family: 'Caveat', cursive;
    color: $body-color;
    //font-family: 'Benne', serif;
}

.card {
    background: linear-gradient(60deg, rgb(41, 29, 90) 0%, rgb(3, 84, 95) 100%);
    color: $body-color;
    font-size: $font-size;
}

.card_body__font {
    font-family: 'Benne', serif;
    font-size: $font-size;
}

.card_title__font {
    font-family: 'Caveat', cursive;
}

.card_input {
    color: $input-color;
}
label
{
color: $body-color;
}